<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>boardMVC2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardListController</display-name>
    <servlet-name>BoardListController</servlet-name>
    <servlet-class>kr.board.controller.BoardListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListController</servlet-name>
    <url-pattern>/BoardListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardAddDummyController</display-name>
    <servlet-name>BoardAddDummyController</servlet-name>
    <servlet-class>kr.board.controller.BoardAddDummyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAddDummyController</servlet-name>
    <url-pattern>/BoardAddDummyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardAllDeleteController</display-name>
    <servlet-name>BoardAllDeleteController</servlet-name>
    <servlet-class>kr.board.controller.BoardAllDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAllDeleteController</servlet-name>
    <url-pattern>/BoardAllDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardContentController</display-name>
    <servlet-name>BoardContentController</servlet-name>
    <servlet-class>kr.board.controller.BoardContentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardContentController</servlet-name>
    <url-pattern>/BoardContentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateController</display-name>
    <servlet-name>BoardUpdateController</servlet-name>
    <servlet-class>kr.board.controller.BoardUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateController</servlet-name>
    <url-pattern>/BoardUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardOneDeleteController</display-name>
    <servlet-name>BoardOneDeleteController</servlet-name>
    <servlet-class>kr.board.controller.BoardOneDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardOneDeleteController</servlet-name>
    <url-pattern>/BoardOneDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardOneAddController</display-name>
    <servlet-name>BoardOneAddController</servlet-name>
    <servlet-class>kr.board.controller.BoardOneAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardOneAddController</servlet-name>
    <url-pattern>/BoardOneAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardPagingController</display-name>
    <servlet-name>BoardPagingController</servlet-name>
    <servlet-class>kr.board.controller.BoardPagingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardPagingController</servlet-name>
    <url-pattern>/BoardPagingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardSetAttributeController</display-name>
    <servlet-name>BoardSetAttributeController</servlet-name>
    <servlet-class>kr.board.controller.BoardSetAttributeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardSetAttributeController</servlet-name>
    <url-pattern>/BoardSetAttributeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardInsertController</display-name>
    <servlet-name>BoardInsertController</servlet-name>
    <servlet-class>kr.board.controller.BoardInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardInsertController</servlet-name>
    <url-pattern>/BoardInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardListPagingController</display-name>
    <servlet-name>BoardListPagingController</servlet-name>
    <servlet-class>kr.board.controller.BoardListPagingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListPagingController</servlet-name>
    <url-pattern>/BoardListPagingController</url-pattern>
  </servlet-mapping>
</web-app>